.button {
  color: $contrast-color;
  font-family: Mont;
  font-size: 14px;
  line-height: 18px;

  background: none;

  @include _max(767px) {
    font-size: 12px;
    line-height: 15px;

    & .button__icon {
      @include size(42px);
    }
  }

  @include _768 {
    font-size: 16px;
    line-height: 20px;

    & .button__icon {
      @include size(68px);
    }
  }

  &--gray {
    color: $text-color;

    & .button__icon {
      background-color: $text-color;

      // transform: rotate(-90deg);
    }
  }

  &--top {
    & .button__icon::after {
      transform: rotate(-90deg);
    }
  }

  &--s {
    & .button__icon {
      @include size(28px);

      &::after {
        background-size: 15px 12px;
      }

      @include _480 {
        @include size(42px);
        &::after {
          background-size: 20px 18px;
        }
      }

      @include _768 {
        @include size(68px);
      }
    }
  }

  &__link {
    display: flex;
    height: 100%;
    align-items: center;

    color: inherit;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;

    white-space: nowrap;
  }

  &__icon {
    position: relative;
    @include size(42px);
    margin-left: 15px;

    background-color: $contrast-color;
    border-radius: 50%;

    box-shadow: 6px 6px 38px rgba(121, 101, 89, 0.18);

    &::after {
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;

      display: inline-flex;
      justify-content: center;
      align-items: center;

    background: center / 17px 14px no-repeat url("../images/arrow-right.svg");

    @include _480 {
      background-size: 20px 18px;
    }
  }
  }
}
