.button {
  color: $contrast-color;
  font-family: Mont;
  font-size: 14px;
  line-height: 18px;

  background: none;

  @include _max(767px) {
    font-size: 12px;
    line-height: 15px;

    & .button__icon {
      @include size(42px);
    }
  }

  @include _480 {
    color: $background-color;
  }

  @include _768 {
    font-size: 16px;
    line-height: 20px;

    & .button__icon {
      @include size(68px);
    }
  }

  &--gray {
    color: $text-color;

    .button__icon {
      background-color: $text-color;
    }
  }

  &--contrast {
    .button__arrow {
      @include _480 {
        @include long-arrow(right, $contrast-color, small);
      }

      @include _768 {
        @include long-arrow(right, $contrast-color, medium);
      }
    }
  }

  &--top {
    .button__arrow {
      @include long-arrow(top, $white, small);
    }
  }

  &--s {
    .button__icon {
      @include size(28px);

      @include _480 {
        @include size(42px);

        .button__arrow {
          @include long-arrow(right, $white, medium);
        }
      }

      @include _768 {
        @include size(68px);
      }
    }
  }

  &__link {
    @include flex-centering;
    height: 100%;

    color: inherit;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;

    white-space: nowrap;
  }

  &__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    @include size(42px);
    margin-left: 15px;

    background-color: $contrast-color;
    border-radius: 50%;

    box-shadow: 6px 6px 38px rgba(121, 101, 89, 0.18);

    @include _480 {
      background: $background-color;
    }
  }

  &__arrow {
    @include long-arrow(right, $white, small);
  }
}
