@import "utils";
@import "fonts";

* {
  box-sizing: border-box;
}

html {
  font-family: "Mont", sans-serif;
  font-size: $mob-font-size;
  font-weight: 600;
  color: $text-color;
  line-height: $mob-line-height;
  font-display: swap;

  scroll-behavior: smooth;
  overflow-x: hidden;

  @include _768 {
    font-size: $desktop-font-s;
    line-height: $desktop-lh;
  }
}

body {
  background: $background-color;

  overflow-x: hidden;
}

.main {

  &--active {
    display: none;
  }
}

@import "section-title";
@import "header";
@import "navigation";
@import "intro";
@import "button";
@import "experience";
@import "row";

@import "num-list";
@import "about";
@import "price";
@import "post";
@import "contact";
@import "form";
@import "footer";
@import "pinned";
