.navigation {
  position: relative;
  height: var(--nav-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;

  @include _768 {
    padding: 0 10px;
  }

  &__left {
    display: flex;
    height: 24px;
    align-items: center;

    @include _768 {
      & > *:not(:last-child) {
        display: none;
      }
    }
  }

  &__line {
    height: 100%;
    width: 0.5px;
    margin: 0 12px;

    background-color: $text-color;
    opacity: 0.3;
  }

  &__logo {
    height: 18.5px;

    @include _768 {
      height: 36px;
    }
  }

  &__menu {
    // display: none;
    position: absolute;
    top: var(--nav-height);
    left: 0;
    width: 100%;
    height: 0;
    padding: 0 20px;

    background: $background-color;
    // transform: translateY(-100%);
    // z-index: -1;
    // opacity: 0;
    overflow: hidden;

    &--active {
      height: 50vw;
      min-height: 175px;
      padding-top: 26px;
    }

    @include _768 {
      position: initial;
      height: initial;
    }
  }

  &__list {
    height: 100%;
    padding-bottom: 10px;

    border-bottom: 1px solid $contrast-color;

    @include _768 {
      display: flex;
      justify-content: center;
      align-items: center;
      @include flexGap(34px, $element: li);
      padding-bottom: 0;

      border: none;
    }
  }

  &__item:not(:last-child) {
    margin-bottom: 16px;
  }

  .navigation__list &__item {
    @include _768 {
      margin-bottom: initial;
    }
  }

  &__link {
    display: inline-block;
    width: 100%;

    color: $text-color;
    // font-family: "Mont";
    // font-style: normal;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;

    @include _768 {
      text-transform: none;
    }
  }

  &__button {
    background: none;
    border-radius: 34px;
  }

  &__btn-link {
    @include size(110px, 31px);
    display: flex;
    align-items: center;
    justify-content: center;

    font-family: Mont;
    font-size: $mob-font-size;
    line-height: 15px;
    color: $contrast-color;

    border: 1.5px solid $contrast-color;
    border-radius: 34px;

    @include _768 {
      @include size(146px, 44px);

      font-size: $desktop-font-m;

      border-width: 2px;
    }
  }
}
