.row {
  padding: 0 var(--vertical-space);
  margin-bottom: 48px;

  @include _768 {
    max-width: 1200px;
    margin: auto;
    margin-bottom: 48px;
  }

  &__title {
    margin-bottom: 32px;
  }
}
