.row {
  padding: 0 var(--vertical-space); /*changes by rules in the _var file dependent on a screen  */
  margin-bottom: var(--horizontal-space);

  @include _768 {
    max-width: 1200px;
    margin: auto;
    margin-bottom: var(--horizontal-space);
  }

  &__title {
    margin-bottom: var(--row-title-mb);

    @include _768 {
      margin-bottom: var(--row-title-mb);
    }
  }
}
