.footer {
  @include flex-centering(column);
  padding: 12px 70px;

  @include _768 {
    padding: 27px 70px;
  }

  &__logo {
    width: 74px;
    height: auto;
    margin-bottom: 12px;

    @include _480 {
      width: 110px;
      margin-bottom: 24px;
    }
  }

  &__rights {
    text-align: center;
    white-space: pre-line;

    opacity: 0.7;

    @include _480 {
      line-height: 18px;
      white-space: initial;
    }
  }

  &__link {
    color: $contrast-color;

    @include _480 {
      &:last-child::after {
        content: ".";
        margin-left: 2px;
      }
    }
  }
}
