@import "utils";
@import "fonts";

* {
  box-sizing: border-box;
}

html {
  font-family: "Mont", sans-serif;
  font-size: $mob-font-size;
  font-weight: 600;
  color: $text-color;
  line-height: $mob-line-height;

  scroll-behavior: smooth;
}

body {
  background: $background-color;

  overflow-x: hidden;
}

.main {

  &--active {
    display: none;
  }
}

@import "section-title";
@import "header";
@import "experience";
@import "row";

@import "num-list";
@import "about";
@import "price";
@import "post";
@import "contact";
@import "footer";
