#posts {
  margin-bottom: 90px;
}

.post {
  position: relative;

  @include line(0, rgba(68, 68, 68, 0.4));

  &:not(:last-child) {
    margin-bottom: 24px;

    @include _480 {
      margin-bottom: 48px;
    }
  }

  &__image {
    width: 100%;
    margin: 24px 0 18px;

    @include _480 {
      margin-top: 0;
    }
  }

  &__date {
    display: block;

    font-family: "Mont";
    font-style: normal;
    font-weight: 500;
    font-size: $mob-font-size;
    line-height: $mob-line-height;
    color: $contrast-color;

    opacity: 0.7;

    @include _480 {
      font-size: $desktop-font-s;
    line-height: $desktop-lh;
    }
  }

  &__title {
    margin: 6px 0 24px;

    font-family: "Mont";
    font-style: normal;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;

    @include _480 {
      margin: 12px 0 14px;
    }
  }

  &__content {
    @include text-overflow(4);

    &--visible {
      @include text-overflow(initial, $_initial: true);
    }
  }

  &__paragraph {
    line-height: $mob-line-height;

    opacity: 0.7;

    &:not(:last-child) {
      margin-bottom: 12px;
    }

    @include _480 {
      line-height: $desktop-lh;
    }
  }

  &__footer {
    display: flex;
    margin-top: 24px;

    font-weight: 700;

    @include _480 {
      position: absolute;
      bottom: calc(42px + (var(--button-size) / 2));
      flex-wrap: wrap;

      font-weight: 600;

      transform: translateY(50%);
    }

    @include _480(767px) {
      display: block;
    }
  }

  &__author {
    margin-right: 42px;

    @include _max(767px) {
      width: 100%;
    }

    @include _980 {
      width: initial;
    }
  }

  &__contacts {
    min-width: 100px;
    text-align: right;

    @include _480 {
      text-align: left;
    }
  }

  &__phone {
    color: inherit;

    @include _480 {
      &:first-child::after {
        content: '/';
        margin-left: 4px;
      }
    }
  }

  &__button {
    display: block;
    margin: 32px auto 24px;

    @include _480 {
      margin: 42px 0 42px auto;
    }
  }
}
