.price {
  &__item {
    @include line(14px);
  }

  &__label {
    padding: 14px 0 18px;
    opacity: 0.7;
  }

  &__value {
    font-size: 14px;
    font-weight: 700;
  }

  &__time {
    opacity: 0.7;
  }
}
