/*=============================================
=                   Colors                   =
=============================================*/
/*=============================================
=                   Sizes                   =
=============================================*/
/* Fonts
-------------------------------------------------- */
/* Elements
-------------------------------------------------- */
@import url(../fonts/mont/stylesheet.css);
:root {
  --nav-height: 62px;
  --logo-h-header: 18.5px;
  --mark-size: 28px;
  --button-size: 42px;
}

@media (min-width: 768px) and (max-width: 100vw) {
  :root {
    --nav-height: 92px;
    --logo-h-header: 36px;
    --mark-size: 42px;
    --button-size: 68px;
  }
}
/* Spaces
-------------------------------------------------- */
:root {
  --vertical-space: 20px;
  --horizontal-space: 48px;
  --row-title-mb: 32px;
  --list-horizontal-space: 14px;
  --mob-l-item-padding-horizontal: 16px;
}

@media (min-width: 768px) and (max-width: 100vw) {
  :root {
    --vertical-space: 60px;
    --horizontal-space: 78px;
    --row-title-mb: 48px;
    --list-horizontal-space: 18px;
  }
}
@media (min-width: 1170px) and (max-width: 100vw) {
  :root {
    --vertical-space: 120px;
    --horizontal-space: 120px;
  }
}
/*============  End of Sizes  =============*/
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol {
  margin: 0;
}

a {
  text-decoration: none;
}

ul,
ol {
  padding-left: 0;
}

li {
  list-style: none;
}

button,
input,
textarea {
  padding: 0;
  border: none;
}

/* End of Used Mixins
-------------------------------------------------- */
* {
  box-sizing: border-box;
}

html {
  font-family: "Mont", sans-serif;
  font-size: 12px;
  font-weight: 600;
  color: #444;
  line-height: 18px;
  scroll-behavior: smooth;
  overflow-x: hidden;
}
@media (min-width: 768px) and (max-width: 100vw) {
  html {
    font-size: 14px;
    line-height: 24px;
  }
}

body {
  background: #f8f9f8;
  overflow-x: hidden;
}

.main--active {
  display: none;
}

.section-title {
  font-family: "Mont";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 31px;
  text-transform: uppercase;
}
@media (min-width: 768px) and (max-width: 100vw) {
  .section-title {
    font-size: 32px;
    line-height: 41px;
    color: #3963bc;
  }
}

.navigation {
  position: relative;
  height: var(--nav-height);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}
@media (min-width: 768px) and (max-width: 100vw) {
  .navigation {
    max-width: calc(1200px + var(--vertical-space) * 2);
    margin: auto;
    padding: 0 var(--vertical-space);
  }
}
.navigation__left {
  display: flex;
  flex-direction: row;
  justify-content: initial;
  align-items: center;
  height: 24px;
}
@media (min-width: 768px) and (max-width: 100vw) {
  .navigation__left > *:not(:last-child) {
    display: none;
  }
}
.navigation__line {
  height: 100%;
  width: 0.5px;
  margin: 0 12px;
  background-color: #444;
  opacity: 0.3;
}
.navigation__logo {
  height: 18.5px;
}
@media (min-width: 768px) and (max-width: 100vw) {
  .navigation__logo {
    height: 36px;
  }
}
.navigation__menu {
  position: absolute;
  top: var(--nav-height);
  left: 0;
  width: 100%;
  height: 0;
  padding: 0 20px;
  background: #f8f9f8;
  overflow: hidden;
}
.navigation__menu--active {
  height: 50vw;
  min-height: 175px;
  padding-top: 26px;
  z-index: 3;
}
@media (min-width: 480px) and (max-width: 100vw) {
  .navigation__menu--active {
    height: 82vw;
    max-height: 525px;
  }
}
@media (min-width: 768px) and (max-width: 100vw) {
  .navigation__menu {
    position: initial;
    height: initial;
  }
}
.navigation__list {
  height: 100%;
  padding-bottom: 10px;
  border-bottom: 1px solid #3963bc;
}
@media (min-width: 768px) and (max-width: 100vw) {
  .navigation__list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-bottom: 0;
    border: none;
  }
  .navigation__list > li {
    margin: 0 11px;
  }
  .navigation__list > li:first-child {
    margin-left: 0;
  }
  .navigation__list > li:last-child {
    margin-right: 0;
  }
}
@media (min-width: 980px) and (max-width: 100vw) {
  .navigation__list > li {
    margin: 0 17px;
  }
  .navigation__list > li:first-child {
    margin-left: 0;
  }
  .navigation__list > li:last-child {
    margin-right: 0;
  }
}
.navigation__item:not(:last-child) {
  margin-bottom: 16px;
}
@media (min-width: 768px) and (max-width: 100vw) {
  .navigation__list .navigation__item {
    margin-bottom: initial;
  }
}
.navigation__link {
  display: inline-block;
  width: 100%;
  color: #444;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  white-space: nowrap;
}
@media (min-width: 768px) and (max-width: 100vw) {
  .navigation__link {
    text-transform: none;
  }
}
.navigation__button {
  background: none;
  border-radius: 34px;
}
.navigation__btn-link {
  width: 110px;
  height: 31px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-family: Mont;
  font-size: 12px;
  line-height: 15px;
  color: #3963bc;
  border: 1.5px solid #3963bc;
  border-radius: 34px;
}
@media (min-width: 768px) and (max-width: 100vw) {
  .navigation__btn-link {
    width: 146px;
    height: 44px;
    font-size: 16px;
    border-width: 2px;
  }
}

.intro {
  position: relative;
}
.intro__container {
  height: 48vw;
  max-height: 300px;
  background-color: #3963bc;
  overflow: hidden;
}
@media (min-width: 480px) and (max-width: 100vw) {
  .intro__container {
    max-height: 600px;
  }
}
.intro__poster {
  width: 100%;
}
@media (min-width: 1550px) {
  .intro__poster {
    max-width: 1800px;
    margin: 0 auto;
    display: inherit;
    object-position: 0 -150px;
  }
}
.intro__poster-content {
  padding: 24px 20px 48px;
}
@media (min-width: 480px) and (max-width: 100vw) {
  .intro__poster-content {
    position: absolute;
    top: 0;
  }
}
.intro__pre-title {
  color: #3963bc;
  line-height: 15px;
}
@media (min-width: 480px) and (max-width: 100vw) {
  .intro__pre-title {
    color: #f8f9f8;
  }
}
.intro__page-title {
  margin: 4px 0 8px;
  font-weight: 700;
}
@media (min-width: 480px) and (max-width: 100vw) {
  .intro__page-title {
    max-width: 270px;
    color: #f8f9f8;
  }
}
.intro__sub-title {
  margin-bottom: 42px;
  color: #444;
  font-size: 10px;
  text-transform: uppercase;
  opacity: 0.4;
}
@media (min-width: 480px) and (max-width: 100vw) {
  .intro__sub-title {
    margin-bottom: 21px;
    color: #f8f9f8;
  }
}

.button {
  color: #3963bc;
  font-family: Mont;
  font-size: 14px;
  line-height: 18px;
  background: none;
}
@media (max-width: 767px) {
  .button {
    font-size: 12px;
    line-height: 15px;
  }
  .button .button__icon {
    width: 42px;
    height: 42px;
  }
}
@media (min-width: 480px) and (max-width: 100vw) {
  .button {
    color: #f8f9f8;
  }
}
@media (min-width: 768px) and (max-width: 100vw) {
  .button {
    font-size: 16px;
    line-height: 20px;
  }
  .button .button__icon {
    width: 68px;
    height: 68px;
  }
}
.button--gray {
  color: #444;
}
.button--gray .button__icon {
  background-color: #444;
}
.button--top .button__icon::after {
  transform: rotate(-90deg);
}
.button--s .button__icon {
  width: 28px;
  height: 28px;
}
.button--s .button__icon::after {
  background-size: 15px 12px;
}
@media (min-width: 480px) and (max-width: 100vw) {
  .button--s .button__icon {
    width: 42px;
    height: 42px;
  }
  .button--s .button__icon::after {
    background-size: 20px 18px;
  }
}
@media (min-width: 768px) and (max-width: 100vw) {
  .button--s .button__icon {
    width: 68px;
    height: 68px;
  }
}
.button__link {
  display: flex;
  flex-direction: row;
  justify-content: initial;
  align-items: center;
  height: 100%;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  white-space: nowrap;
}
.button__icon {
  position: relative;
  width: 42px;
  height: 42px;
  margin-left: 15px;
  background-color: #3963bc;
  border-radius: 50%;
  box-shadow: 6px 6px 38px rgba(121, 101, 89, 0.18);
}
@media (min-width: 480px) and (max-width: 100vw) {
  .button__icon {
    background: #f8f9f8;
  }
}
.button__icon::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background: center/17px 14px no-repeat url("../images/arrow-right.svg");
}
@media (min-width: 480px) and (max-width: 100vw) {
  .button__icon::after {
    background-size: 20px 18px;
  }
}

.experience {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: initial;
  align-items: center;
}
.experience__ellipse {
  position: absolute;
  width: 444px;
  height: 444px;
  top: 0;
  border: 2px solid #3963bc;
  border-radius: 50%;
  opacity: 0.2;
  z-index: -1;
}
@media (min-width: 480px) and (max-width: 100vw) {
  .experience__ellipse {
    top: -133px;
    left: -180px;
  }
}
@media (min-width: 768px) and (max-width: 100vw) {
  .experience__ellipse {
    width: 531px;
    height: 531px;
  }
}
.experience__list {
  display: flex;
  flex-direction: column;
  justify-content: initial;
  align-items: center;
  margin-bottom: 46px;
  padding: 42px 0;
  overflow-x: hidden;
}
@media (min-width: 480px) and (max-width: 100vw) {
  .experience__list {
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 var(--vertical-space) calc(var(--horizontal-space) / 2);
    padding: 22px 36px;
    background: #fff;
    box-shadow: 6px 6px 38px rgba(121, 101, 89, 0.18);
    border-radius: 90px;
    transform: translateY(-10%);
    overflow: visible;
  }
}
@media (min-width: 768px) and (max-width: 100vw) {
  .experience__list {
    flex-wrap: nowrap;
    transform: translateY(-50%);
    margin-bottom: 0;
  }
}
@media (min-width: 980px) and (max-width: 100vw) {
  .experience__list {
    padding: 22px 72px;
  }
}
.experience__item {
  display: flex;
  flex-direction: column;
  justify-content: initial;
  align-items: center;
}
@media (max-width: 479px) {
  .experience__item:not(:last-child) {
    margin-bottom: 42px;
  }
}
@media (min-width: 480px) and (max-width: 767px) {
  .experience__item {
    position: relative;
    width: 50%;
  }
  .experience__item:nth-child(-n+2) {
    margin-bottom: 22px;
  }
  .experience__item:nth-child(2n)::before {
    content: "";
    position: absolute;
    width: 1px;
    height: 100%;
    left: 0;
    background-color: #444;
    opacity: 0.14;
  }
}
@media (min-width: 768px) and (max-width: 100vw) {
  .experience__item {
    position: relative;
    align-items: flex-start;
  }
  .experience__item:not(:first-child) {
    margin-left: 30px;
  }
  .experience__item:first-child {
    padding-right: 30px;
  }
  .experience__item:not(:first-child)::before {
    content: "";
    position: absolute;
    width: 1px;
    height: 68px;
    left: -15px;
    background-color: #444;
    opacity: 0.14;
  }
}
@media (min-width: 1170px) and (max-width: 100vw) {
  .experience__item {
    min-width: 160px;
  }
  .experience__item:not(:first-child) {
    margin-left: 80px;
  }
  .experience__item:first-child {
    padding-right: 40px;
  }
  .experience__item:not(:first-child)::before {
    left: -40px;
  }
}
.experience__number {
  margin-bottom: 4px;
  color: #3963bc;
  font-size: 18px;
  font-weight: 700;
  line-height: 23px;
}
@media (min-width: 768px) and (max-width: 100vw) {
  .experience__number {
    margin-bottom: 8px;
    font-size: 28px;
    line-height: 36px;
  }
}
.experience__label {
  max-width: 100px;
  text-align: center;
  opacity: 0.7;
}
@media (min-width: 480px) and (max-width: 100vw) {
  .experience__label {
    max-width: none;
    white-space: nowrap;
  }
}

.row {
  padding: 0 var(--vertical-space); /*changes by rules in the _var file dependent on a screen  */
  margin-bottom: var(--horizontal-space);
}
@media (min-width: 768px) and (max-width: 100vw) {
  .row {
    max-width: calc(1200px + var(--vertical-space) * 2);
    margin: auto;
    margin-bottom: var(--horizontal-space);
  }
}
.row__title {
  margin-bottom: var(--row-title-mb);
}
@media (min-width: 768px) and (max-width: 100vw) {
  .row__title {
    margin-bottom: var(--row-title-mb);
  }
}

.num-list {
  counter-reset: list;
}
@media (min-width: 768px) and (max-width: 100vw) {
  .num-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}
@media (min-width: 768px) and (max-width: 978px) {
  .num-list > li {
    margin: 16px 10px;
  }
  .num-list > li:nth-child(-n+2) {
    margin-top: 0;
  }
  .num-list > li:nth-last-child(-n+2) {
    margin-bottom: 0;
  }
  .num-list > li:nth-child(2n+1) {
    margin-left: 0;
  }
  .num-list > li:nth-child(2n+2) {
    margin-right: 0;
  }
}
@media (min-width: 980px) and (max-width: 100vw) {
  .num-list > li {
    margin: 16px 10px;
  }
  .num-list > li:nth-child(-n+3) {
    margin-top: 0;
  }
  .num-list > li:nth-last-child(-n+3) {
    margin-bottom: 0;
  }
  .num-list > li:nth-child(3n+1) {
    margin-left: 0;
  }
  .num-list > li:nth-child(3n+3) {
    margin-right: 0;
  }
}
.num-list__item {
  position: relative;
  padding: 22px var(--mob-l-item-padding-horizontal);
  padding-left: calc(var(--mark-size) + var(--list-horizontal-space) + var(--mob-l-item-padding-horizontal));
}
@media (min-width: 768px) and (max-width: 100vw) {
  .num-list__item {
    width: calc(50% - 20px);
    max-width: 387px;
    margin: 0;
    padding-left: calc(var(--mark-size) + var(--list-horizontal-space));
  }
}
@media (min-width: 980px) and (max-width: 100vw) {
  .num-list__item {
    width: calc(33.33% - 20px);
  }
}
.num-list__item::before {
  counter-increment: list;
  content: counter(list);
  position: absolute;
  left: var(--mob-l-item-padding-horizontal);
  width: var(--mark-size);
  height: var(--mark-size);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: #3963bc;
  border: solid 2px #3963bc;
  border-radius: 50%;
  box-sizing: border-box;
}
@media (min-width: 768px) and (max-width: 100vw) {
  .num-list__item::before {
    left: 0;
  }
}
.num-list__text {
  opacity: 0.7;
}

.about {
  display: flex;
  flex-direction: column;
  justify-content: initial;
  align-items: center;
}
@media (min-width: 480px) and (max-width: 979px) {
  .about {
    display: initial;
  }
}
@media (min-width: 980px) and (max-width: 100vw) {
  .about {
    flex-direction: row-reverse;
  }
}
.about__image {
  width: 157px;
  max-width: 400px;
}
@media (min-width: 480px) and (max-width: 100vw) {
  .about__image {
    width: 40%;
    margin-left: 40px;
    margin-bottom: 28px;
    float: right;
  }
}
@media (min-width: 980px) and (max-width: 100vw) {
  .about__image {
    align-self: center;
    margin-left: 122px;
    margin-bottom: 0;
  }
}
.about__text {
  opacity: 0.7;
}
@media (max-width: 479px) {
  .about__paragraph:first-of-type::before {
    content: "";
    display: block;
    margin: 32px 0;
    border-bottom: 1px solid #aec0e3;
  }
}
.about__paragraph:not(:last-child) {
  margin-bottom: 12px;
}
.about__accent {
  color: #3963bc;
}

@media (max-width: 767px) {
  .price__item::after {
    content: "";
    display: block;
    margin: 14px 0;
    border-bottom: 1px solid #7c7c7c;
  }
}
@media (min-width: 768px) and (max-width: 100vw) {
  .price__item {
    display: flex;
    padding: 32px 0;
    position: relative;
  }
  .price__item::after {
    position: absolute;
    top: initial;
    right: 0;
    bottom: 0;
    left: 0;
    content: "";
    display: block;
    margin: 0 0;
    border-bottom: 1px solid #7c7c7c;
  }
  .price__item:nth-last-child(2) {
    padding: 20px 0;
  }
}
.price__label {
  padding: 14px 0 18px;
  opacity: 0.7;
}
@media (min-width: 768px) and (max-width: 100vw) {
  .price__label {
    flex-grow: 1;
    max-width: 600px;
    padding: 0;
  }
  .price__item:not(:nth-last-child(2)) .price__label {
    white-space: nowrap;
  }
}
.price__value {
  font-size: 14px;
  font-weight: 700;
  white-space: nowrap;
}
@media (min-width: 768px) and (max-width: 100vw) {
  .price__value {
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
  }
}
.price__time {
  opacity: 0.7;
}

#posts {
  margin-bottom: 90px;
}

.post {
  position: relative;
}
.post::after {
  content: "";
  display: block;
  margin: 0 0;
  border-bottom: 1px solid rgba(68, 68, 68, 0.4);
}
.post:not(:last-child) {
  margin-bottom: 24px;
}
@media (min-width: 480px) and (max-width: 100vw) {
  .post:not(:last-child) {
    margin-bottom: 48px;
  }
}
.post__image {
  width: 100%;
  margin: 24px 0 18px;
}
@media (min-width: 480px) and (max-width: 100vw) {
  .post__image {
    margin-top: 0;
  }
}
.post__date {
  display: block;
  font-family: "Mont";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  color: #3963bc;
  opacity: 0.7;
}
@media (min-width: 480px) and (max-width: 100vw) {
  .post__date {
    font-size: 14px;
    line-height: 24px;
  }
}
.post__title {
  margin: 6px 0 24px;
  font-family: "Mont";
  font-style: normal;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
}
@media (min-width: 480px) and (max-width: 100vw) {
  .post__title {
    margin: 12px 0 14px;
  }
}
.post__content {
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  overflow: hidden;
}
.post__content--visible {
  display: initial;
  -webkit-line-clamp: initial;
  -webkit-box-orient: initial;
  text-overflow: initial;
  overflow: hidden;
}
.post__paragraph {
  line-height: 18px;
  opacity: 0.7;
}
.post__paragraph:not(:last-child) {
  margin-bottom: 12px;
}
@media (min-width: 480px) and (max-width: 100vw) {
  .post__paragraph {
    line-height: 24px;
  }
}
.post__footer {
  display: flex;
  margin-top: 24px;
  font-weight: 700;
}
@media (min-width: 480px) and (max-width: 100vw) {
  .post__footer {
    position: absolute;
    bottom: calc(42px + var(--button-size) / 2);
    flex-wrap: wrap;
    font-weight: 600;
    transform: translateY(50%);
  }
}
@media (min-width: 480px) and (max-width: 767px) {
  .post__footer {
    display: block;
  }
}
.post__author {
  margin-right: 42px;
}
@media (max-width: 767px) {
  .post__author {
    width: 100%;
  }
}
@media (min-width: 980px) and (max-width: 100vw) {
  .post__author {
    width: initial;
  }
}
.post__contacts {
  min-width: 100px;
  text-align: right;
}
@media (min-width: 480px) and (max-width: 100vw) {
  .post__contacts {
    text-align: left;
  }
}
.post__phone {
  color: inherit;
}
@media (min-width: 480px) and (max-width: 100vw) {
  .post__phone:first-child::after {
    content: "/";
    margin-left: 4px;
  }
}
.post__button {
  display: block;
  margin: 32px auto 24px;
}
@media (min-width: 480px) and (max-width: 100vw) {
  .post__button {
    margin: 42px 0 42px auto;
  }
}

.contact {
  position: relative;
  padding: 43px 20px 52px;
  color: #f8f9f8;
  overflow: hidden;
}
@media (min-width: 768px) and (max-width: 100vw) {
  .contact {
    display: flex;
    flex-wrap: wrap;
    padding: var(--horizontal-space);
  }
  .contact > * {
    width: 100%;
  }
}
@media (min-width: 1170px) and (max-width: 100vw) {
  .contact {
    max-width: 1200px;
    margin: auto;
    overflow: visible;
  }
}
.contact::after {
  content: "";
  position: absolute;
  width: 197.33px;
  height: 222px;
  right: -78px;
  bottom: 30px;
  background: center/auto 222px no-repeat url("../images/head.svg");
  opacity: 0.2;
}
@media (min-width: 768px) and (max-width: 100vw) {
  .contact::after {
    width: 590px;
    height: 663.75px;
    right: -84px;
    bottom: -120px;
    background-size: auto 663.75px;
  }
}
.contact__background {
  background-color: #3963bc;
}
.contact__title {
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
}
@media (min-width: 768px) and (max-width: 100vw) {
  .contact__title {
    font-size: 32px;
    line-height: 41px;
  }
}
.contact__form {
  margin-top: 32px;
}
@media (max-width: 767px) {
  .contact__form::after {
    content: "";
    display: block;
    margin: 42px 0;
    border-bottom: 1px solid #aec0e3;
  }
}
@media (min-width: 768px) and (max-width: 100vw) {
  .contact__form {
    width: 50%;
    max-width: 387px;
    margin-top: 48px;
  }
}
@media (min-width: 980px) and (max-width: 100vw) {
  .contact__form {
    width: 60%;
  }
}
.contact__contacts {
  position: relative;
  display: flex;
  flex-direction: column;
  z-index: 1;
}
.contact__contacts *:not(:first-child) {
  width: fit-content;
  opacity: 0.7;
}
@media (min-width: 768px) and (max-width: 100vw) {
  .contact__contacts {
    max-width: 192px;
    margin: 48px 0 0 60px;
  }
}
@media (min-width: 980px) and (max-width: 100vw) {
  .contact__contacts {
    margin-left: 121px;
  }
}
.contact__part-title {
  margin-bottom: 32px;
  font-size: 16px;
  line-height: 20px;
  font-weight: 600;
  text-transform: uppercase;
}
@media (min-width: 768px) and (max-width: 100vw) {
  .contact__part-title {
    font-size: 22px;
    line-height: 28px;
  }
}
.contact a:nth-child(3), .contact a:nth-child(5) {
  margin: 4px 0 12px;
}
@media (min-width: 768px) and (max-width: 100vw) {
  .contact a:nth-child(3), .contact a:nth-child(5) {
    margin-bottom: 18px;
  }
}
.contact__mail {
  color: inherit;
}
.contact__phone {
  color: inherit;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
}
.contact__link {
  display: inline-block;
  width: 156px;
  color: inherit;
  white-space: pre-line;
}

.form > * {
  width: 100%;
}
.form__input, .form__area {
  margin-bottom: 18px;
  padding: 8px;
  font-family: "Mont";
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 24px;
  color: #f8f9f8;
  background: none;
  border-bottom: 1px solid #f8f9f8;
}
.form__input::placeholder, .form__area::placeholder {
  font-family: "Mont";
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 24px;
  color: #f8f9f8;
  opacity: 0.7;
}
.form__area {
  height: 87px;
  resize: none;
}
.form__policy-text {
  display: inline-block;
  width: 200px;
  margin-bottom: 24px;
  font-size: 10px;
  line-height: 13px;
  font-weight: 500;
  opacity: 0.7;
}
.form__button {
  padding: 10px 12px;
  font-family: "Mont";
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
  color: #3963bc;
  background: #f8f9f8;
  border-radius: 34px;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: initial;
  align-items: center;
  padding: 12px 70px;
}
@media (min-width: 768px) and (max-width: 100vw) {
  .footer {
    padding: 27px 70px;
  }
}
.footer__logo {
  width: 74px;
  height: auto;
  margin-bottom: 12px;
}
@media (min-width: 480px) and (max-width: 100vw) {
  .footer__logo {
    width: 110px;
    margin-bottom: 24px;
  }
}
.footer__rights {
  text-align: center;
  white-space: pre-line;
  opacity: 0.7;
}
@media (min-width: 480px) and (max-width: 100vw) {
  .footer__rights {
    line-height: 18px;
    white-space: initial;
  }
}
.footer__link {
  color: #3963bc;
}
@media (min-width: 480px) and (max-width: 100vw) {
  .footer__link:last-child::after {
    content: ".";
    margin-left: 2px;
  }
}

.pinned {
  position: fixed;
  bottom: 20px;
  right: 20px;
  height: 48px;
}
.pinned__link {
  display: inline-block;
  height: 48px;
  border-radius: 50%;
}
.pinned__link:first-child {
  box-shadow: 6px 6px 38px rgba(121, 101, 89, 0.18);
}
.pinned__link:last-child {
  margin-left: 12px;
}
