/*=============================================
=                   Colors                   =
=============================================*/
/*=============================================
=                   Sizes                   =
=============================================*/
/* Fonts
-------------------------------------------------- */
/* Elements
-------------------------------------------------- */
@import url(../fonts/mont/stylesheet.css);
:root {
  --nav-height: 62px;
  --logo-h-header: 18.5px;
  --mark-size: 28px;
}

@media (min-width: 769px) and (max-width: 100vw) {
  :root {
    --nav-height: 92px;
    --logo-h-header: 36px;
    --mark-size: 42px;
  }
}
/* Spaces
-------------------------------------------------- */
:root {
  --vertical-space: 20px;
  --list-horizontal-space: 14px;
  --mob-l-item-padding-horizontal: 16px;
}

@media (min-width: 769px) and (max-width: 100vw) {
  :root {
    --vertical-space: 50px;
    --list-horizontal-space: 18px;
  }
}
/*============  End of Sizes  =============*/
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol {
  margin: 0;
}

a {
  text-decoration: none;
}

ul,
ol {
  padding-left: 0;
}

li {
  list-style: none;
}

button,
input,
textarea {
  padding: 0;
  border: none;
}

/* End of Used Mixins
-------------------------------------------------- */
* {
  box-sizing: border-box;
}

html {
  font-family: "Mont", sans-serif;
  font-size: 12px;
  font-weight: 600;
  color: #444;
  line-height: 18px;
  scroll-behavior: smooth;
}

body {
  background: #f8f9f8;
  overflow-x: hidden;
}

.main--active {
  display: none;
}

.section-title {
  font-family: "Mont";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 31px;
  display: flex;
  text-transform: uppercase;
}

.navigation {
  position: relative;
  height: var(--nav-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}
@media (min-width: 769px) and (max-width: 100vw) {
  .navigation {
    padding: 0 10px;
  }
}
.navigation__left {
  display: flex;
  height: 24px;
  align-items: center;
}
@media (min-width: 769px) and (max-width: 100vw) {
  .navigation__left > *:not(:last-child) {
    display: none;
  }
}
.navigation__line {
  height: 100%;
  width: 0.5px;
  margin: 0 12px;
  background-color: #444;
  opacity: 0.3;
}
.navigation__logo {
  height: 18.5px;
}
@media (min-width: 769px) and (max-width: 100vw) {
  .navigation__logo {
    height: 36px;
  }
}
.navigation__menu {
  position: absolute;
  top: var(--nav-height);
  left: 0;
  width: 100%;
  height: 0;
  padding: 0 20px;
  background: #f8f9f8;
  overflow: hidden;
}
.navigation__menu--active {
  height: 50vw;
  min-height: 175px;
  padding-top: 26px;
}
@media (min-width: 769px) and (max-width: 100vw) {
  .navigation__menu {
    position: initial;
    height: initial;
  }
}
.navigation__list {
  height: 100%;
  padding-bottom: 10px;
  border-bottom: 1px solid #3963bc;
}
@media (min-width: 769px) and (max-width: 100vw) {
  .navigation__list {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 0;
    border: none;
  }
  .navigation__list > li {
    margin: 0 17px;
  }
  .navigation__list > li:first-child {
    margin-left: 0;
  }
  .navigation__list > li:last-child {
    margin-right: 0;
  }
}
.navigation__item:not(:last-child) {
  margin-bottom: 16px;
}
@media (min-width: 769px) and (max-width: 100vw) {
  .navigation__list .navigation__item {
    margin-bottom: initial;
  }
}
.navigation__link {
  display: inline-block;
  width: 100%;
  color: #444;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
}
@media (min-width: 769px) and (max-width: 100vw) {
  .navigation__link {
    text-transform: none;
  }
}
.navigation__button {
  background: none;
  border-radius: 34px;
}
.navigation__btn-link {
  width: 110px;
  height: 31px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Mont;
  font-size: 12px;
  line-height: 15px;
  color: #3963bc;
  border: 1.5px solid #3963bc;
  border-radius: 34px;
}
@media (min-width: 769px) and (max-width: 100vw) {
  .navigation__btn-link {
    width: 146px;
    height: 44px;
    font-size: 16px;
    border-width: 2px;
  }
}

.intro__container {
  height: 48vw;
  max-height: 300px;
  overflow: hidden;
}
.intro__poster {
  width: 100%;
}
.intro__poster-content {
  padding: 24px 20px 48px;
}
.intro__pre-title {
  color: #3963bc;
  line-height: 15px;
}
.intro__page-title {
  margin: 4px 0 8px;
  font-weight: 700;
}
.intro__sub-title {
  margin-bottom: 42px;
  color: #444;
  font-size: 10px;
  text-transform: uppercase;
  opacity: 0.4;
}

.button {
  color: #3963bc;
  font-family: Mont;
  font-size: 14px;
  line-height: 18px;
  background: none;
}
.button--gray {
  color: #444;
}
.button--gray > .button__link::after {
  background-color: #444;
}
.button--s {
  font-size: 12px;
  line-height: 15px;
}
.button--s > .button__link::after {
  width: 28px;
  height: 28px;
}
.button__link {
  display: inline-block;
  height: 100%;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  white-space: nowrap;
}
.button__link::after {
  content: url("../images/arrow-right.svg");
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 42px;
  height: 42px;
  margin-left: 15px;
  background-color: #3963bc;
  border-radius: 50%;
}

.experience {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 46px;
  padding: 42px 0;
  overflow-x: hidden;
}
.experience::before {
  content: "";
  position: absolute;
  display: block;
  width: 444px;
  height: 444px;
  top: 0;
  border: 2px solid #3963bc;
  border-radius: 50%;
  box-sizing: border-box;
  opacity: 0.2;
}
.experience__item {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.experience__item:not(:last-child) {
  margin-bottom: 42px;
}
.experience__number {
  margin-bottom: 4px;
  color: #3963bc;
  font-size: 18px;
  font-weight: 700;
  line-height: 23px;
}
.experience__label {
  max-width: 100px;
  text-align: center;
  opacity: 0.7;
}

.row {
  padding: 0 var(--vertical-space);
  margin-bottom: 48px;
}
@media (min-width: 769px) and (max-width: 100vw) {
  .row {
    max-width: 1200px;
    margin: auto;
    margin-bottom: 48px;
  }
}
.row__title {
  margin-bottom: 32px;
}

.num-list {
  counter-reset: list;
}
@media (min-width: 769px) and (max-width: 100vw) {
  .num-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}
@media (min-width: 769px) and (max-width: 978px) {
  .num-list > li {
    margin: 16px 10px;
  }
  .num-list > li:nth-child(-n+2) {
    margin-top: 0;
  }
  .num-list > li:nth-last-child(-n+2) {
    margin-bottom: 0;
  }
  .num-list > li:nth-child(2n+1) {
    margin-left: 0;
  }
  .num-list > li:nth-child(2n+2) {
    margin-right: 0;
  }
}
@media (min-width: 980px) and (max-width: 100vw) {
  .num-list > li {
    margin: 16px 10px;
  }
  .num-list > li:nth-child(-n+3) {
    margin-top: 0;
  }
  .num-list > li:nth-last-child(-n+3) {
    margin-bottom: 0;
  }
  .num-list > li:nth-child(3n+1) {
    margin-left: 0;
  }
  .num-list > li:nth-child(3n+3) {
    margin-right: 0;
  }
}
.num-list__item {
  position: relative;
  padding: 22px var(--mob-l-item-padding-horizontal);
  padding-left: calc(var(--mark-size) + var(--list-horizontal-space) + var(--mob-l-item-padding-horizontal));
}
@media (min-width: 769px) and (max-width: 100vw) {
  .num-list__item {
    width: calc(50% - 20px);
    max-width: 387px;
    margin: 0;
    padding-left: calc(var(--mark-size) + var(--list-horizontal-space));
  }
}
@media (min-width: 980px) and (max-width: 100vw) {
  .num-list__item {
    width: calc(33.33% - 20px);
  }
}
.num-list__item::before {
  counter-increment: list;
  content: counter(list);
  position: absolute;
  left: var(--mob-l-item-padding-horizontal);
  width: var(--mark-size);
  height: var(--mark-size);
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  font-size: 18px;
  line-height: 23px;
  color: #3963bc;
  border: solid 2px #3963bc;
  border-radius: 50%;
  box-sizing: border-box;
}
@media (min-width: 769px) and (max-width: 100vw) {
  .num-list__item::before {
    left: 0;
  }
}
.num-list__text {
  opacity: 0.7;
}

.about {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.about__image {
  width: 157px;
}
.about__text {
  opacity: 0.7;
}
.about__text::before {
  content: "";
  display: block;
  margin: 32px 0;
  border-bottom: 1px solid #aec0e3;
}
.about__paragraph:not(:last-child) {
  margin-bottom: 12px;
}
.about__accent {
  color: #3963bc;
}

.price__item::after {
  content: "";
  display: block;
  margin: 14px 0;
  border-bottom: 1px solid #7c7c7c;
}
.price__label {
  padding: 14px 0 18px;
  opacity: 0.7;
}
.price__value {
  font-size: 14px;
  font-weight: 700;
}
.price__time {
  opacity: 0.7;
}

#posts {
  margin-bottom: 90px;
}

.post::after {
  content: "";
  display: block;
  margin: none 0;
  border-bottom: 1px solid #7c7c7c;
}
.post:not(:last-child) {
  margin-bottom: 24px;
}
.post__image {
  width: 280px;
  margin: 24px 0 18px;
}
.post__date {
  font-family: "Mont";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  color: #3963bc;
  opacity: 0.7;
}
.post__title {
  margin: 6px 0 24px;
  font-family: "Mont";
  font-style: normal;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
}
.post__content {
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  overflow: hidden;
}
.post__content--visible {
  display: initial;
  -webkit-line-clamp: initial;
  -webkit-box-orient: initial;
  text-overflow: initial;
  overflow: hidden;
}
.post__paragraph {
  line-height: 18px;
  opacity: 0.7;
}
.post__paragraph:not(:last-child) {
  margin-bottom: 12px;
}
.post__footer {
  display: flex;
  margin-top: 24px;
  font-weight: 700;
}
.post__contacts {
  text-align: right;
}
.post__phone {
  color: inherit;
}
.post__button {
  display: block;
  margin: 32px auto 24px;
}

.contact {
  position: relative;
  padding: 43px 20px 52px;
  color: #f8f9f8;
  background-color: #3963bc;
  overflow: hidden;
}
.contact::after {
  content: "";
  position: absolute;
  width: 197.33px;
  height: 222px;
  right: -78px;
  bottom: 30px;
  background: center/auto 222px no-repeat url("../images/head.svg");
  opacity: 0.2;
}
.contact__title {
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
}
.contact__contacts {
  display: flex;
  flex-direction: column;
}
.contact__contacts *:not(:first-child) {
  opacity: 0.7;
}
.contact__part-title {
  margin-bottom: 32px;
  font-size: 16px;
  line-height: 20px;
  font-weight: 600;
  text-transform: uppercase;
}
.contact a:nth-child(3), .contact a:nth-child(5) {
  margin: 4px 0 12px;
}
.contact__mail {
  color: inherit;
}
.contact__phone {
  color: inherit;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
}
.contact__link {
  display: inline-block;
  width: 156px;
  color: inherit;
  white-space: pre-line;
}

.form {
  margin-top: 32px;
}
.form::after {
  content: "";
  display: block;
  margin: 42px 0;
  border-bottom: 1px solid #aec0e3;
}
.form > * {
  width: 100%;
}
.form__input, .form__area {
  margin-bottom: 18px;
  padding: 8px;
  font-family: "Mont";
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 24px;
  color: #f8f9f8;
  background: none;
  border-bottom: 1px solid #f8f9f8;
}
.form__input::placeholder, .form__area::placeholder {
  font-family: "Mont";
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 24px;
  color: #f8f9f8;
  opacity: 0.7;
}
.form__area {
  height: 87px;
  resize: none;
}
.form__policy-text {
  display: inline-block;
  width: 200px;
  margin-bottom: 24px;
  font-size: 10px;
  line-height: 13px;
  font-weight: 500;
  opacity: 0.7;
}
.form__button {
  padding: 10px 12px;
  font-family: "Mont";
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
  color: #3963bc;
  background: #f8f9f8;
  border-radius: 34px;
}

.footer {
  display: flex;
  padding: 12px 70px;
  flex-direction: column;
  align-items: center;
}
.footer__logo {
  width: 74px;
  height: auto;
  margin-bottom: 12px;
}
.footer__rights {
  text-align: center;
  white-space: pre-line;
  opacity: 0.7;
}
.footer__link {
  color: #3963bc;
}

.pinned {
  position: fixed;
  bottom: 20px;
  right: 20px;
  height: 48px;
}
.pinned__link {
  display: inline-block;
  height: 48px;
  border-radius: 50%;
}
.pinned__link:first-child {
  box-shadow: 6px 6px 38px rgba(121, 101, 89, 0.18);
}
.pinned__link:last-child {
  margin-left: 12px;
}
