.pinned {
  position: fixed;
  bottom: 20px;
  right: 20px;
  height: 48px;
}
.pinned__link {
  display: inline-block;
  height: 48px;
  border-radius: 50%;
}
.pinned__link:first-child {
  box-shadow: 6px 6px 38px rgba(121, 101, 89, 0.18);
}
.pinned__link:last-child {
  margin-left: 12px;
}
