/* Error: Undefined mixin.
 *   ,
 * 5 | /   @include _768 {
 * 6 | |     max-width: 1200px;
 * 7 | |     margin: auto;
 * 8 | |     margin-bottom: var(--horizontal-space);
 * 9 | \   }
 *   '
 *   src/sass/row.scss 5:3  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined mixin.\a   \2577 \a 5 \2502  \250c    @include _768 {\a 6 \2502  \2502      max-width: 1200px;\a 7 \2502  \2502      margin: auto;\a 8 \2502  \2502      margin-bottom: var(--horizontal-space);\a 9 \2502  \2514    }\a   \2575 \a   src/sass/row.scss 5:3  root stylesheet";
}
