/* Error: Undefined mixin.
 *    ,
 * 10 | /   @include _768 {
 * 11 | |     font-size: 32px;
 * 12 | |     line-height: 41px;
 * 13 | |     color: $contrast-color;
 * 14 | \   }
 *    '
 *   src/sass/section-title.scss 10:3  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined mixin.\a    \2577 \a 10 \2502  \250c    @include _768 {\a 11 \2502  \2502      font-size: 32px;\a 12 \2502  \2502      line-height: 41px;\a 13 \2502  \2502      color: $contrast-color;\a 14 \2502  \2514    }\a    \2575 \a   src/sass/section-title.scss 10:3  root stylesheet";
}
