@mixin size($_width, $_height: $_width) {
  width: $_width;
  height: $_height;
}

@mixin line-styles($_space, $_color) {
  content: '';
  display: block;
  margin: $_space 0;

  border-bottom: 1px solid $_color;
}

@mixin line($_space: 14px, $_color: $gray, $_before: false) {

  @if $_before {
    &::before {
      @include line-styles($_space, $_color);
    }
  } @else {
    &::after {
      @include line-styles($_space, $_color);
    }
  }
}



@mixin text-overflow($_lines-count: initial, $_initial: false) {
  @if $_initial {
    display: initial;
    -webkit-line-clamp: initial;
    -webkit-box-orient: initial;

    text-overflow: initial;

    overflow: hidden;
  } @else {
    display: -webkit-box;
    -webkit-line-clamp: #{$_lines-count};
    -webkit-box-orient: vertical;

    text-overflow: ellipsis;

    overflow: hidden;
  }
}

@mixin flexGap( $gap, $direction: row, $element: div ) {
  > #{$element} {
    @if $direction == row {
      margin: 0 $gap/2;
      &:first-child {
        margin-left: 0;
      }

      &:last-child {
        margin-right: 0;
      }
    }

    @if $direction == column {
      margin: $gap/2 0;
      &:first-child {
        margin-top: 0;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

/* End of Used Mixins
-------------------------------------------------- */

@mixin hover($_property, $_toValue) {
  transition: #{$_property} $main-hover-duration;
  &:hover {
    #{$_property}: $_toValue;
  }
}

@mixin active($_property, $_toValue) {
  transition: #{$_property} $main-hover-duration;
  &:active {
    #{$_property}: $_toValue;
  }
}



@mixin paragraph-title($bootom-space) {
  padding-bottom: $bootom-space;

  font-family: "Mark-Heavy", Geneva, Verdana, sans-serif;
  font-size: $card-title-size;
  color: $white;
  text-transform: uppercase;
}

@mixin position($vertical, $horisontal, $type : absolute) {
  position: $type;
  top: $vertical;
  left: $horisontal;
}

@mixin button-font($_size, $_color: $white) {
  font-family: inherit;
  font-size: #{$_size};
  color: #{$_color};
}

@mixin input-style($_height: 40px) {
  width: 100%;
  height: $_height;
  margin-bottom: 24px;

  font-size: $button-font-size-mobile;
  line-height: inherit;
  font-family: inherit;
  color: inherit;

  background: none;
  border-bottom: 1px solid $dark-grey;

  &:focus {
    border-color: $contrast-color;
    outline: none;
  }
}

@mixin page-centered {
  max-width: 1060px;
  margin: auto;
}
