.intro {
  position: relative;

  &__container {
    height: 48vw;
    max-height: 300px;

    background-color: $contrast-color;
    overflow: hidden;

    @include _480 {
      max-height: 600px;
    }
  }

  &__poster {
    width: 100%;
    height: auto !important;
    max-height: 694px;

    object-fit: contain;

    @include _min(1550px) {
      max-width: 1800px;
      margin: 0 auto;
      display: inherit;

      object-position: 0 -145px;
    }
  }

  &__poster-content {
    padding: 24px 20px 48px;

    @include _480 {
      position: absolute;
      top: 0;
    }

    @include _768 {
      padding: 5.5vw 0 0 3.5vw;
    }

    @include _1170 {
      max-width: 660px;
      margin: 0 auto;
      padding: 132px 0 0 120px;
    }
  }

  &__pre-title {
    color: $contrast-color;
    line-height: 15px;

    @include _480 {
      color: $background-color;
    }

    @include _768 {
      font-size: 18px;
      line-height: 23px;
    }
  }

  &__page-title {
    margin: 4px 0 8px;
    font-weight: 700;

    @include _480 {
      max-width: 270px;
      color: $background-color;
    }

    @include _768 {
      max-width: 540px;

      font-size: 40px;
      line-height: 45px;
      font-weight: 600;
    }

    @include _980 {
      margin: 12px 0 18px;

      font-size: 48px;
      line-height: 62px;
    }
  }

  &__sub-title {
    margin-bottom: 42px;

    color: $text-color;
    font-size: 10px;
    text-transform: uppercase;

    opacity: 0.4;

    @include _480 {
      margin-bottom: calc(42px / 2);
      color: $background-color;
    }

    @include _768 {
      font-size: 14px;
      line-height: 24px;
    }
  }
}
