.navigation {
  position: relative;
  height: var(--nav-height);
  @include flex-centering($_justify: space-between);
  padding: 0 20px;

  @include _768 {
    max-width: calc(1200px + var(--vertical-space) * 2);
    margin: auto;
    padding: 0 var(--vertical-space);
  }

  &__left {
    @include flex-centering;
    height: 24px;

    @include _768 {
      & > *:not(:last-child) {
        display: none;
      }
    }
  }

  &__line {
    height: 100%;
    width: 0.5px;
    margin: 0 12px;

    background-color: $text-color;
    opacity: 0.3;
  }

  &__logo {
    @include size(82.21px, 18.5px);
    margin-top: 4px;

    @include _768 {
      @include size(160px, 36px);
    }
  }

  &__menu {
    position: absolute;
    top: var(--nav-height);
    left: 0;
    width: 100%;
    height: 0;
    padding: 0 20px;

    background: $background-color;

    overflow: hidden;

    &--active {
      height: 50vw;
      min-height: 175px;
      padding-top: 26px;
      z-index: 3;

      @include _480 {
        height: 82vw;
        max-height: 525px;
      }
    }

    @include _768 {
      position: initial;
      height: initial;
    }
  }

  &__list {
    height: 100%;
    padding-bottom: 10px;

    border-bottom: 1px solid $contrast-color;

    @include _768 {
      @include flex-centering($_justify: center);
      @include flexGap(22px, $_element: li);
      padding-bottom: 0;

      border: none;
    }

    @include _980 {
      @include flexGap(34px, $_element: li);
    }
  }

  &__item:not(:last-child) {
    margin-bottom: 16px;
  }

  .navigation__list &__item {
    @include _768 {
      margin-bottom: initial;
    }
  }

  &__link {
    display: inline-block;
    width: 100%;

    color: $text-color;
    // font-family: "Mont";
    // font-style: normal;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
    white-space: nowrap;

    @include _768 {
      text-transform: none;
    }
  }

  &__button {
    background: none;
    border-radius: 34px;
  }

  &__btn-link {
    @include size(110px, 31px);
    @include flex-centering($_justify: center);

    font-family: Mont;
    font-size: $mob-font-size;
    line-height: 15px;
    color: $contrast-color;

    border: 1.5px solid $contrast-color;
    border-radius: 34px;

    @include _768 {
      @include size(146px, 44px);

      font-size: $desktop-font-m;

      border-width: 2px;
    }
  }
}
